.bg-custom {
    background-color: #162949;
}

.text-headline {
    color: #FA8E2C;
}

.text-title {
    color: #A7A5AB;
}

.text-sub {
    color: #E9C935;
}

.text-body {
    color: #FFFFFF;
}
/* Add these to your existing styles */
.custom-input-container {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.custom-input-container:focus {
    border-color: #FA8E2C;
    outline: none;
    box-shadow: 0 0 0 2px rgba(250, 142, 44, 0.2);
}

select.custom-input-container option {
    background-color: #162949;
    color: white;
}

.radio-btn input:checked+span {
    background-color: #FA8E2C;
    /* Highlight selected button */
    color: white;
    border-color: #FA8E2C;
}

span:hover {
    background-color: #FA8E2C;
}

button[type="submit"] {
    width: 100%;
    background-color: #FA8E2C;
    color: #ffffff;
    font-weight: 600;
    padding: 12px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}